In [23]:
import pandas as pd

In [25]:
df = pd.read_csv('test.csv', index_col='Id')
df

          Nom         Prenom    math    DA    IA
Id
12        ali       Mouhemet     12.0    14  15.0
1      ticha        ben Amar     18.0    14  15.0
14    zaineb          Bahrou     12.0    14  15.0
18       ilef     Mouhemet        NaN    14   NaN